<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Your Appoinment!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <header>
      <h1>Booking Appoinment App</h1>
    </header>

    <section class="container">
      <form id="my-form"
      action="/post/addUser"
      method="POST">
        <h1>Add Your Details...</h1>
        <div class="msg"></div>
        <div>
          <label for="userName">Name:</label>
          <input type="text" id="userName" name="userName"/>
        </div>
        <div>
          <label for="userEmail">Email:</label>
          <input type="text" id="userEmail" name="userEmail"/>
        </div>
        <div>
          <label for="userPhone">Phone:</label>
          <input type="text" id="userPhone" name="userPhone"/>
        </div>
        <input class="btn"  type="submit" value="Submit" />
      </form>

      <ul id="users"></ul>

       <!-- <ul class="items">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
      </ul> --> 
    </section>
    <script type="module" src="js/main.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>